@page "/historicdata"
@inject HttpClient Http

<h3>HistoricData</h3>

if (Mains == null)
{
<p><em>Problem with API</em></p>

}
else
{

<h1>Popular anime in chosen Genre:</h1>
<div class="mb-2 p-3">
    Choose a Genre:
    <select class="form-control" @bind="instrument" @onclick="@GetDataAsync">
        <option selected disabled value="-1"> Choose a </option>
        <option value=1> Action</option>
        <option value=2> Adventure</option>
        <option value=4> Comedy</option>
        <option value=6> Drama</option>
        <option value=35> Slice of Life</option>
    </select>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Stock Name</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
           

        </tr>
    </thead>
    <tbody>
        
        @foreach (var ani in Mains.candles)
        {
            <tr>
                <td>@ani.mid</td>
                

                @*<td>
                    @foreach (var gen in )
                    {
                    <td>@gen</td>

                }
                    </td>
*@
                </tr>

            }
    </tbody>
</table>
}


