@page "/trade"
@inject HttpClient Http

<h3>Trade</h3>

@*<button OnClick="@PostFromBuy()">Post </button>*@
@*<button OnClick="@PostBuy()">Post </button>*@
<button OnClick="@PostBuy();"> Buy</button>
<button OnClick="@PostSellAsync();"> Sell</button>

